{{
  include "breadcrumb.vto" {
    version,
    links: [
      [upload.label, ["uploads", upload.name]],
      "Upload file",
    ],
  }
}}

<header class="header">
  <h1 class="header-title">
    长传文件
    <label class="header-file">
      <input
        class="input is-inline"
        id="_id"
        type="text"
        name="_id"
        placeholder="文件夹…"
        form="form-create"
        aria-label="File name"
        value="{{ folder }}"
      >
    </label>
  </h1>
</header>

<form
  method="post"
  class="form"
  enctype="multipart/form-data"
  id="form-create"
  action='{{ ["uploads", upload.name, "create"] |> path }}'
>
  <div class="field">
    <u-upload>
      <input
        aria-label="Upload file"
        id="new-file"
        type="file"
        name="file[]"
        required
        class="inputFile"
        multiple
      >
    </u-upload>
  </div>
  <footer class="footer ly-rowStack">
    <button class="button is-primary" type="submit">
      <u-icon name="upload-simple"></u-icon>
      长传文件
    </button>
  </footer>
</form>
